<div class="filtros">
  <mat-card>
    <ul style="list-style-type: none">
      <li><a routerLink="#">cabelos</a></li>
      <li><a>maquiagem</a></li>
      <li><a>perfumes</a></li>
      <li><a>salão de beleza</a></li>
      <li><a>barbearia</a></li>
      <li><a>unha</a></li>
    </ul>
  </mat-card>
  <mat-card>
    <h4>Marca</h4>
    <p><mat-checkbox>Pepperoni</mat-checkbox></p>
    <p><mat-checkbox>Extra Cheese</mat-checkbox></p>
    <p><mat-checkbox>Mushroom</mat-checkbox></p>
  </mat-card>
  <mat-card>
    <h4>Tipo de produto</h4>
    <p><mat-checkbox>Pepperoni</mat-checkbox></p>
    <p><mat-checkbox>Extra Cheese</mat-checkbox></p>
    <p><mat-checkbox>Mushroom</mat-checkbox></p>
  </mat-card>
  <mat-card>
    <h4>Preço</h4>
    <p><mat-checkbox>Pepperoni</mat-checkbox></p>
    <p><mat-checkbox>Extra Cheese</mat-checkbox></p>
    <p><mat-checkbox>Mushroom</mat-checkbox></p>
  </mat-card>
  <mat-card>
    <h4>Condição</h4>
    <p><mat-checkbox>Novo</mat-checkbox></p>
    <p><mat-checkbox>Usado</mat-checkbox></p>
  </mat-card>
</div>
