
.titulo{
  width: 100%;
  margin: 0px;
  font-weight: bold;
}
.content{
  display: flex;
}
.cards{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-left: 5px;
}
.button-cancelar{
  background-color: #FF6347;
}
