.conteudo{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.menu-lateral{
  display: flex;
  margin: 20px 20px 40px 100px;
  border: 0.5px solid black;
  width: 200px;
  height: 300px;
}
.menu-lateral__listaFiltros{
  display: block;
  list-style-type: none;
  text-align: start;
  padding: 0px;
  margin-left: 5px;
}
.pedidos-realizados{
  width: auto;
  margin-top: 20px;
}
.card-pedidos{
  width: auto;
  margin-right: 40px;
}
.conteudo-card{
  display: flex;
  flex-direction: row;
}
.detalhes-entrega{
  display: flex;
  flex-direction: column;
}
.resumo-compra{
  display: flex;
  flex-direction: column;
}
.button-detalhes{
  border: 1px solid #1e90ff;;
}
.detalhes-entrega > button{
  margin-bottom: 10px;
}

li{
  margin-bottom: 10px;
}
mat-icon{
  margin-right: 5px;
}
