<section>
  <div class="conteudo">
    <div class="menu-lateral">
      <ul class="menu-lateral__listaFiltros">
        <li>
          <button mat-flat-button>
            <mat-icon>assignment_turned_in</mat-icon>
            <span routerLink="meusPedidos">Pedidos</span>
          </button>
        </li>
        <mat-divider></mat-divider>
        <li>
          <button mat-flat-button>
            <mat-icon>autorenew</mat-icon>
            <span>Trocas</span>
          </button>
        </li>
        <mat-divider></mat-divider>
        <li>
          <button mat-flat-button>
            <mat-icon>supervisor_account</mat-icon>
            <span routerLink="meusDados">Meus Dados</span>
          </button>
        </li>
        <mat-divider></mat-divider>
        <li>
          <button mat-flat-button>
            <mat-icon>receipt</mat-icon>
            <span routerLink="enderecos">Endereços</span>
          </button>
        </li>
        <mat-divider></mat-divider>
        <li>
          <button mat-flat-button>
            <mat-icon>exit_to_app</mat-icon> <span>Sair da Conta</span>
          </button>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>


