
.mat-toolbar{
  position: relative;
  height: 50px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background: linear-gradient(#7E2424, #E3BDE5);
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-family: sans-serif;
}

a:hover{
  transition: 1s;
  background-color: #DCDCDC;
  opacity: inherit;
}
