
.mat-toolbar{
  position: relative;
  height: 50px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: #2F4F4F;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
