<app-header></app-header>
<app-header-menu></app-header-menu>
<!-- <button (click)="buscarprodutoTipo()">Buscar</button> -->
<h2>Novos Produtos</h2>
<div class="promo">
<mat-card class=" card mat-elevation-z4">
  <mat-card-content>
    <img
      class="img"
      src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg"
    />
    <p>Descrição</p>
    <p>R$: valor</p>
  </mat-card-content>
</mat-card>
<mat-card class="card mat-elevation-z4">
  <mat-card-content>
    <img
      class="img"
      src="https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
    <p>Descrição</p>
    <p>R$: valor</p>
  </mat-card-content>
</mat-card>
<mat-card class="card mat-elevation-z4">
  <mat-card-content>
    <img
      class="img"
      src="https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
    <p>Descrição</p>
    <p>R$: valor</p>
  </mat-card-content>
</mat-card>
<mat-card class="card mat-elevation-z4">
  <mat-card-content>
    <img
      class="img"
      src="https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
    <p>Descrição</p>
    <p>R$: valor</p>
  </mat-card-content>
</mat-card>
</div>
<app-footer></app-footer>
