
.mat-toolbar{
  position: relative;
  height: 50px;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #4682B4;
}
a{
  margin-left: 30px;
  text-decoration: none;
}

.toolbar-row-1 {
  display: flex;
  justify-content: space-between;
}

.toolbar-row-2{
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
.mat-toolbar-row{
  background-color: #4682B4;
  width: 100%;
}
.input-pesquisar {
width: 400px;
margin-right: 5px;
background-color: white;
box-sizing: border-box;
border-radius: 30px;
padding: 5px;
box-shadow: 2px 2px #666;
}
button{
  border: none;
  background: transparent;
}
a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
.card-content{
  display: flex;
  flex-direction: column;
}
.card-descricao{
  margin: 0px;
  width: 100%;
}
.card-Cesta{
  display: flex;
  margin: 10px;
}
.card-buttonCesta {
  background-color: silver;
}
.img {
  height: 100px;
  width: 100px;
  align-items: center;
  border-radius: 10px;
}
