<mat-toolbar>
  <mat-toolbar-row class="toolbar-row-1">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <input
      class="input-pesquisar"
      type="search"
      matInput
      placeholder="O que você está procurando?"
    />
    <button (click)="teste()">
      <mat-icon class="icon-pesquisar">search</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>shopping_basket</mat-icon>
        <span>Pedidos</span>
      </button>
      <button mat-menu-item>
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Cadastro</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair da Conta</span>
      </button>
    </mat-menu>
    <button>
      <mat-icon>local_grocery_store</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-row-2">
    <span></span>
    <a routerLink=""> Eletrodomésticos</a>
    <span></span>
    <a routerLink=""> Material escolar</a>
    <span></span>
    <a routerLink=""> Eletrônicos</a>
    <span></span>
    <a routerLink=""> Cosméticos</a>
  </mat-toolbar-row>
</mat-toolbar>
