.content-tab {
  display: flex;
}
.card-content {
  display: flex;
}
.cardItens-content {
  display: flex;
  justify-content: end;
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.produto-img img{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
}
.tipo-frete {
  margin: 30px;
}
.card-cesta {
  background-color: white;
  margin-left: 20%;
  margin-top: 20px;
  border: 2px solid silver;
}
.descricao-produto p {
  font-weight: bold;
}
.card-endereco {
  background-color: white;
  background-color: #d3d3d3;
  margin-left: 20%;
  margin-top: 20px;
  margin-right: 10%;
  border: 2px solid silver;
}

.card-itensPedido {
  display: flex;
  background-color: #d3d3d3;
}
.content-itensPedidos p {
  display: inline-block;
  font-weight: bold;
  width: 250px;
  margin-right: 0px;
  padding: 0px;
}
.button-alterarEndereco {
  background-color: transparent;
  border: 2px solid black;
}

.form-pagamento {
  display: flex;
  flex-direction: column;
  margin: 20px 30% 0px 30%;
}
.mes-field {
  width: 100px;
}
.codigoSeguranca-field {
  width: 200px;
}
.opcoesPagemento-field {
  width: 250px;
}
.confimar-cartao {
  width: 150px;
  text-align: center;
  padding: 10px;
  display: flex;
}
.teste {
  height: 100px;
}
.button-boleto{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
