/* .conteudo{
  display: flex;
  flex-direction: column;
  background-color: slategray;
} */
.content-tab{
  display: flex;
}
.card-content{
  display: flex;
}
.tipo-frete{
  margin: 30px;
}

.card-cesta {
  background-color: white;
  height: 300px;
  width: 600px;
  margin-left: 20%;
  margin-top: 20px;
  border: 2px solid silver;
}
.card-endereco{background-color: white;
  /* height: 160px;
  width: 300px; */
  background-color: #D3D3D3;
  margin-left: 20%;
  margin-top: 20px;
  margin-right: 10%;
  border: 2px solid silver;

}
.button-alterarEndereco{
  background-color: transparent;
  border: 2px solid black;
}


.form-pagamento {
  display: flex;
  flex-direction: column;
  margin: 20px 30% 0px 30%;

}
.mes-field {
  width: 100px;
}
.codigoSeguranca-field {
  width: 200px;
}
.opcoesPagemento-field {
  width: 250px;
}
.confimar-cartao{
  width: 300px;
  text-align: center;
  display: flex;
}
.teste{
  height: 100px;
}
