.content{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}
.detalhesProduto{
  display: flex;
  width: 500px;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
}
.detalhesProduto mat-card-content{
  display: flex;
}
.detalhesProduto p{
  font-weight: bold;
}
.card--Detalhes__compra{
  margin: 20px 0px 20px;
  width: 500px;
}
.card--localEntrega{
  margin-top: 5%;
}
a{
  text-decoration: none;
}
.butoes-compra{
  display: flex;
  flex-direction: column;
}
img{
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.painel--expansion{
  margin: 50px;
}
