.carrinho-content {
  width: 1306px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}
.carrinho {
  display: flex;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  position: relative;
}
.content-tab {
  display: flex;
}
.card-content {
  display: flex;
}
.carrinho__item-card {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
  border: 1px solid #e9e9e9;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
}
.carrinho__item-content {
  display: flex;
}
.carrinho__custom-label {
  color: #999;
  margin-right: 10px;
  margin-bottom: 5px;
}
.carrinho__custom-text {
  font-weight: 600;
  color: #666;
}
.carrinho__item-img {
  min-width: 120px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
}
/* .cardItens-content {
  display: flex;
  justify-content: end;
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
} */
/* .card-cesta {
  background-color: white;
  margin-top: 20px;
  border: 2px solid silver;
  max-height: 400px;
} */
.carrinho-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: inherit;
  color: #5a2d82;
  font-size: 24px;
  font-weight: bold;
}
.carrinho__qtd-item {
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.carrinho__ver-mais {
  display: block;
  position: relative;
  text-decoration: underline;
  margin-top: 15px;
  color: #39acdf;
  width: 190px;
}
/* .card-cesta__img img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
} */
/* .card-cesta__tipoFrete {
  margin: 30px;
}

.card-cesta__descricao-produto p {
  font-weight: bold;
} */
.resumo-compra {
  margin-left: 5%;
  width: 500px;
}
.summary {
  width: 100%;
  background: #f5f5f5;
  margin-top: 20px;
  margin-right: 10%;
  border: 2px solid silver;
}
.summary__items {
  padding: 10px 0;
  list-style: none;
}
.summary__items li {
  border-bottom: 2px solid #ebebeb;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: #666;
  font-weight: 600;
  font-size: 18px;
}
.summary__items--frete {
  display: flex;
  flex-direction: column;
}
.summary__items--frete a {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: -0.35px;
  line-height: 18px;
  color: #666;
}
.summary__items--cupom a {
  color: #39acdf;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
}

.summary__items--cupom-aplicar {
  background: white;
  justify-content: center;
}
.summary__items--cupom-field {
  display: flex;
  padding-bottom: 0px;
  margin: 10px;
}
.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.summary__items--cupom-button {
  display: flex;
  align-items: center;
}
.summary__items--cupom-button button {
  border: 1px solid grey;
}
.content-carrinho-vazio {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
}
.content-carrinho-vazio p {
  font-size: 20px;
  margin: 20px;
}
.sumary__button--continuar {
  width: 100%;
  margin-bottom: 15px;
}
.sumary__button--escolher {
  width: 100%;
  background-color: transparent;
  color: #1e90ff;
  border-style: solid;
  justify-content: center;
}
.sumary__compra-segura {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  letter-spacing: -0.4px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 19px;
}
