<section
  class="carrinho-content"
  *ngIf="produtos.length != 0 && produtos != undefined"
>
  <div class="carrinho" label="Minha Cesta">
    <!--Card de Detalhe da Cesta de Produtos-->
    <div class="content-tab">
      <div>
        <h1 class="carrinho-title">Meu Carrinho</h1>
        <mat-card class="carrinho__item-card" *ngFor="let produto of produtos as p; let i = index">
          <div>
            <mat-card-content class="carrinho__item-content">
              <div>
                <img
                  class="carrinho__item-img"
                  [src]="produto.img"
                  alt="Imagem do Produto"
                />
              </div>
              <div>
                <h3>{{ produto.nome }}</h3>
                <p class="carrinho__custom-text">
                  Cor:
                  <span class="carrinho__custom-label"> {{ produto.cor }}</span>
                </p>
                <p class="carrinho__custom-text">Tamanho:</p>
                <p class="carrinho__custom-text">
                  Descrição:
                  <span class="carrinho__custom-label">{{
                    produto.descricao
                  }}</span>
                </p>
              </div>
              <div>
                <mat-icon style="cursor: pointer;" (click)="delete(i)">delete_outline</mat-icon>
              </div>
            </mat-card-content>
            <mat-card-content>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  padding-top: 10px;
                  border-top: 2px solid #eee;
                "
              >
                <div style="display: flex">
                  <p>Quantidade:</p>
                  <form [formGroup]="formulario">
                    <mat-icon (click)="decrement(i)">remove_circle_outline</mat-icon>
                    <input formControlName="qtd" class="carrinho__qtd-item" type="number" matInput />
                    <p>{{produto.quantidade}}</p>
                    <mat-icon (click)="increment(i)" >add_circle_outline</mat-icon>
                  </form>
                </div>
                <div>
                  <p>{{ produto.preco * produto.quantidade }}</p>
                </div>
              </div>
              <div>
                <a routerLink="/" class="carrinho__ver-mais">Ver mais produtos dessa loja</a>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
      <!--Card de Resumo Compra-->
      <div class="resumo-compra">
        <div><h1 class="carrinho-title">Resumo da Compra</h1></div>
        <mat-card class="summary mat-elevation-z4">
          <mat-card-content>
            <ul class="summary__items">
              <li>
                <div>Subtotal ({{quantidadeItens}} itens)</div>
                <div>R$ {{subtotal}}</div>
              </li>
              <li>
                <div class="summary__items--frete">
                  Frete pela Loja
                  <a routerLink="#">Ver outras opções de entrega</a>
                </div>
                <div>R$ 8,90</div>
              </li>
              <li>
                <div>Cupom de desconto</div>
                <div class="summary__items--cupom">
                  <a *ngIf="!aplicar" (click)="aplicarCupom()">Adicionar</a>
                  <mat-icon (click)="aplicarCupom()" *ngIf="aplicar"
                    >close</mat-icon
                  >
                </div>
              </li>
              <li class="summary__items--cupom-aplicar" *ngIf="aplicar">
                <div>
                  <form style="display: flex">
                    <mat-form-field
                      class="summary__items--cupom-field"
                      appearance="outline"
                    >
                      <div style="padding-bottom: 0px">
                        <mat-label>Cupom de desconto</mat-label>
                        <input matInput style="padding: 0px" />
                      </div>
                    </mat-form-field>
                    <div class="summary__items--cupom-button">
                      <button mat-flat-button>Aplicar</button>
                    </div>
                  </form>
                </div>
              </li>
              <li>
                <div>Descontos</div>
                <div>R$ 0,00</div>
              </li>
              <li>
                <div>Valor total</div>
                <div>R$ 136,35</div>
              </li>
            </ul>
            <div>
              <button
                class="sumary__button--continuar"
                color="warn"
                (click)="pagamento()"
                mat-flat-button
              >
                CONTINUAR
              </button>
              <button class="sumary__button--escolher" mat-flat-button>
                ESCOLHER MAIS PRODUTOS
              </button>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="sumary__compra-segura">
          <a>
            <mat-icon>lock</mat-icon>
            <span>COMPRA SEGURA</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="produtos == undefined || produtos.length == 0">
  <div class="content-carrinho-vazio">
    <div>
      <mat-icon style="font-size: 50px">shopping_cart</mat-icon>
    </div>
    <p>Seu carrinho está vazio</p>
    <p>Adicione produtos clicando no botão “Comprar” na página de produto.</p>
    <div>
      <button
        mat-flat-button
        routerLink="/"
        class="button-voltar"
        color="primary"
      >
        VOLTAR PARA A PÁGINA INICIAL
      </button>
    </div>
  </div>
</ng-container>
