.content-tab {
  display: flex;
}
.card-content {
  display: flex;
}
.cardItens-content {
  display: flex;
  justify-content: end;
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.card-cesta {
  background-color: white;
  margin-left: 20%;
  margin-top: 20px;
  border: 2px solid silver;
}
.card-cesta__img img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
}
.card-cesta__tipoFrete {
  margin: 30px;
}

.card-cesta__descricao-produto p {
  font-weight: bold;
}
.card-endereco {
  background-color: white;
  background-color: #d3d3d3;
  margin-left: 20%;
  margin-top: 20px;
  margin-right: 10%;
  border: 2px solid silver;
}

.card-itensPedido {
  display: flex;
  background-color: #d3d3d3;
}
.content-itensPedidos p {
  display: inline-block;
  font-weight: bold;
  width: 250px;
  margin-right: 0px;
  padding: 0px;
}
.card-endereco__button {
  background-color: transparent;
  border: 2px solid black;
}

.form-pagamento {
  display: flex;
  flex-direction: column;
  margin: 20px 30% 0px 30%;
}
.form-pagamento__mes-field {
  width: 100px;
}
.form-pagamento__codigoSegurancaField {
  width: 200px;
}
.form-pagamento__opcoesPagementoField {
  width: 250px;
}
.form-pagamento__button {
  width: 150px;
  text-align: center;
  padding: 10px;
  display: flex;
}

.button-boleto {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.content-carrinho-vazio{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
}
.content-carrinho-vazio p{
  font-size: 20px;
  margin: 20px;
}
.button-voltar{
  background-color: white;
  color: #1e90ff;
  border-style: solid;
  justify-content: center;
  margin-top: 10px;
}
