<h2 style="margin-top: 20px">Seus Dados</h2>
<mat-card *ngIf="user" class="card-dados">
  <mat-card-content class="card-dados__content" >
    <form  [formGroup]="formulario" class="card-dados__form">
      <h2>Dados Pessoais</h2>
      <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input formControlName="nome" matInput/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cpf</mat-label>
        <input disabled="disabled" matInput/>
      </mat-form-field>
      <mat-label>Sexo</mat-label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button style="margin: 10px;" value="1">Masculino</mat-radio-button>
        <mat-radio-button value="2">Femino</mat-radio-button>
      </mat-radio-group>
    </form>
    <div>
      <form class="card-dados__form">
        <h2>Dados de Acesso</h2>
        <mat-form-field  appearance="outline">
          <mat-label>E-mail</mat-label>
          <input disabled="disabled" matInput/>
        </mat-form-field>
      </form>
      <div>
        <button class="card-dados__button-form" (click)="openDialog('email')" mat-raised-button color="warn">ALTERAR E-MAIL</button>
        <button class="card-dados__button-form" (click)="openDialog('senha')" mat-raised-button color="warn">ALTERAR SENHA</button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="card-dados__footer">
    <button (click)="submit()" mat-raised-button color="warn">SALVAR INFORMAÇÕES</button>
  </mat-card-footer>
</mat-card>
