<section class="content">
  <app-filtros></app-filtros>
  <div>
    <div class="mes-field">
      <mat-form-field appearance="fill">
        <mat-label>Ordenar por</mat-label>
        <mat-select>
          <mat-option value="one" *ngFor="let ano of anos">{{
            ano
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <h2 style="margin-left: 30px">Novos Produtos</h2>
    </div>
    <div class="promo">
      <mat-card (click)="detalheProduto(produto.id)" *ngFor="let produto of produtos$ | async" class="card mat-elevation-z2">
        <mat-card-content>
          <img class="promo__img" src="{{ produto.img }}" />
          <p>{{ produto.descricao }}</p>
          <p class="promo__p-valor">R$: {{ produto.preco }}</p>
          <div class="button-content">
            <button
              mat-flat-button
              (click)="openSnackBar('Produto Adicionado', 'X')"
              class="button-add"
              color="primary"
            >
              Adicionar ao Carrinho
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>


