<app-header></app-header>
<app-header-menu></app-header-menu>
<section class="content">
  <app-filtros></app-filtros>
  <div>
    <h2>Novos Produtos</h2>
    <div class="mes-field">
      <mat-form-field appearance="fill">
        <mat-label>Ordenar por</mat-label>
        <mat-select>
          <mat-option value="one" *ngFor="let ano of anos">{{
            ano
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="promo">
      <mat-card *ngFor="let produto of produtos" class="mat-elevation-z4">
        <mat-card-content>
          <img class="img" src="{{ produto.img }}" />
          <p>{{ produto.descricao }}</p>
          <p class="p-valor">R$: {{ produto.preco }}</p>
          <div class="button-content">
            <button mat-flat-button class="button-add" color="primary">
              Adicionar ao Carrinho
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<app-footer></app-footer>
