<form [formGroup]="formEmail" class="form-email">
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input formControlName="emailAtual" readonly="" matInput/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Novo E-mail</mat-label>
    <input formControlName="emailNovo" name="email" [(ngModel)] ="data.email" matInput/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmar Novo E-mail</mat-label>
    <input formControlName="emailNovoConfirm" name="email_confirm" [(ngModel)] ="data.email_confirm"  matInput/>
  </mat-form-field>
  <span *ngIf="data.email != data.email_confirm" style="color: red; text-align: center; margin: 10px; font-size: 20px;" class="error"> Os e-mails devem ser iguais!!! </span>
  <button class="form-email__button" mat-raised-button color="warn">ALTERAR E-MAIL
  </button>
  <a (click)="cancel()" style="text-align: center; cursor: pointer; ;margin: 10px;">Cancelar</a>
</form>
