<form class="form-email">
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input disabled="disabled" matInput/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Novo E-mail</mat-label>
    <input  matInput/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmar Novo E-mail</mat-label>
    <input  matInput/>
  </mat-form-field>
  <button class="form-email__button" mat-raised-button color="warn">ALTERAR E-MAIL
  </button>
  <a style="text-align: center; margin: 10px;">Cancelar</a>
</form>
