<app-header></app-header>
<app-header-menu></app-header-menu>
<div class="conteudo">
  <form >
    <div class="content">
    <mat-form-field appearance="fill">
      <label>Nome Completo (Nome e Sobrenome)</label>
      <input type="email" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Telefone</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>CEP</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Endereço</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Número da Residência</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Complemento</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Bairro</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Cidade</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Estado</label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-checkbox class="example-margin">Tornar este o meu endereço padrão</mat-checkbox>
    <button color="primary" mat-flat-button>Usar este endereço</button>
  </div>
  </form>
</div>
<app-footer></app-footer>
