<app-header></app-header>
<app-header-menu></app-header-menu>
<div class="conteudo">
  <form>
    <div class="content">
      <div>
        <label>Nome Completo</label>
        <input type="text" />
      </div>
      <div>
        <label>Telefone</label>
        <input type="text" />
      </div>
      <div>
        <label>CEP</label>
        <input type="text" />
      </div>
      <div>
        <label>Endereço</label>
        <input type="text" />
      </div>
      <div>
        <label>Número da Residência</label>
        <input type="text" />
      </div>
      <div>
        <label>Complemento</label>
        <input type="text" />
      </div>
      <div>
        <label>Cidade</label>
        <input type="text" />
      </div>
      <div>
        <label>Bairro</label>
        <input type="text" />
      </div>
      <button color="primary" mat-flat-button>Usar este endereço</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
