<h1 style="text-align: center; margin-top: 20px;">Novo Endereço</h1>
<div class="conteudo">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="content">
      <div>
        <label>CEP</label>
        <input type="text" formControlName="cep" (blur)="consultarCep()"/>
      </div>
      <div>
        <label>Rua</label>
        <input type="text" formControlName="rua" />
      </div>
      <div>
        <label>Número da Residência</label>
        <input type="text" formControlName="numeroResidencia" />
      </div>
      <div>
        <label>Complemento</label>
        <input type="text" formControlName="complemento" />
      </div>
      <div>
        <label>Bairro</label>
        <input type="text" formControlName="bairro" />
      </div>
      <div>
        <div>
          <label>Cidade</label>
          <input type="text" formControlName="cidade" />
        </div>
        <div>
          <label>UF</label>
          <input type="text" formControlName="uf" />
        </div>
        <button
          type="submit"
          [disabled]="!formulario.valid"
          style="margin-right: 5px"
          color="primary"
          mat-flat-button
        >
          Usar este endereço
        </button>
        <button (click)="resetarCampos()" color="warn" mat-flat-button>
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>

