<form [formGroup]="formSenha" class="form-email">
  <mat-form-field appearance="outline">
    <mat-label>Senha Atual</mat-label>
    <mat-icon class="form-email__icon" matSuffix>visibility</mat-icon>
    <input formControlName="senhaAtual" maxlength="8" type="password" matInput/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nova Senha</mat-label>
    <input formControlName="senhaNova" type="password" maxlength="8" name="password" [(ngModel)] ="data.password" matInput/>
    <mat-icon class="form-email__icon" matSuffix>visibility</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmar Nova Senha</mat-label>
    <input formControlName="senhaNovaConfirm" type="password" maxlength="8" name="password_confirm"  [(ngModel)] ="data.password_confirm"  matInput/>
    <mat-icon class="form-email__icon" (click)="exibirSenha()" [ngClass]="{'visibility': !mostrarSenha, 'visibility_off': mostrarSenha}" matSuffix>visibility</mat-icon>
    <mat-hint *ngIf="formSenha.get('senhaNovaConfirm')?.hasError('equalsto')"  style="color: red; font-size: 13px;">As senhas devem ser iguais!!! </mat-hint>
  </mat-form-field>
  <button (click)="alterarSenha()" class="form-email__button" [disabled]="!formSenha.valid" mat-raised-button color="warn">ALTERAR SENHA
  </button>
  <a (click)="cancel()" style="text-align: center; cursor: pointer; ;margin: 10px;">Cancelar</a>
</form>
