.promo {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: 40%;
  margin-right: 30%;
  flex-direction: row;
  margin-top: 20px;
}

.card {
  margin-left: 50px;
}
.img {
  height: 200px;
  width: 200px;
  align-items: center;
}
.p-valor {
  font-weight: bold;
}
.button-add {
  background-color: white;
  color: #1e90ff;
  border-style: solid;
  justify-content: center;
}
.button-content {
  display: flex;
  justify-content: center;
}
h2 {
  color: black;
  text-align: center;
  margin-top: 20px;
}
/* .container {
  align-items: center;
} */
/* .card-outrosProdutos {
  width: 300px;
  border-radius: 50px;
  margin-left: 50px;
} */
.img-outrosProdutos {
  height: 200px;
  width: 200px;
  align-items: center;
  border-radius: 100px;
  margin-left: 30px;
}
.email-card {
  margin: 10px 50px 100px 50px;
}

mat-form-field {
  justify-content: center;
  margin: 0px 100px 0px 30px;
  width: 250px;
}
