<app-header></app-header>
<app-header-menu></app-header-menu>
<!--Seção do Carrousel-->
<section class="carrousel-container">
  <div class="carrousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img
          src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpghttps://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg"
        />
      </ng-template>
      <ng-template carouselSlide
        ><img
          src="https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        />
      </ng-template>
      <ng-template carouselSlide
        ><img
          src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpghttps://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<section class="conteudo">
  <app-filtros></app-filtros>
  <div>
  <div class="mes-field">
    <mat-form-field appearance="fill">
      <mat-label>Ordenar por</mat-label>
      <mat-select>
        <mat-option value="one" *ngFor="let ano of anos">{{
          ano
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h2>Novos Produtos</h2>
  <div class="card-promo">
    <mat-card (click)="detalheProduto()" *ngFor="let produto of produtos" class="card mat-elevation-z4">
      <mat-card-content>
        <img class="img" src="{{ produto.img }}" />
        <p>{{ produto.descricao }}</p>
        <p class="p-valor">R$: {{ produto.preco }}</p>
        <div class="button-content">
          <button
            mat-flat-button
            (click)="openSnackBar('Produto Adicionado', 'X')"
            class="button-add"
            color="primary"
          >
            Adicionar ao Carrinho
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <h2 style="margin-top: 20px;">Aqui também tem</h2>
    <div class="card-outros">
      <img
        routerLink="/materialEscolar"
        class="img-outrosProdutos"
        src="https://images.unsplash.com/photo-1503236712874-d64b828dc314?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
      />

      <img
        routerLink="/eletrodomesticos"
        class="img-outrosProdutos"
        src="https://images.unsplash.com/photo-1602872030378-f30ea2947b03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80"
      />

      <img
        class="img-outrosProdutos"
        src="https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      />

      <img
        routerLink="/cosmetico"
        class="img-outrosProdutos"
        src="https://images.unsplash.com/photo-1594966642034-bbf0029a7488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      />
    </div>
</div>
</section>
<app-footer></app-footer>
