.carrousel-container {
  display: flex;
  justify-content: center;
}
.conteudo {
  display: flex;
}
.carrousel {
  width: 80%;
  margin-top: 20px;
}
.mes-field {
  display: flex;
  justify-content: flex-end;
  margin: 5%;
}
h2 {
  margin-left: 30px;
}
img {
  height: 500px;
  width: 200px;
}
.card-promo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.card-outros {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.card {
  margin-left: 50px;
}
mat-card {
  margin-left: 50px;
  height: 300px;
}
.img {
  height: 200px;
  width: 200px;
  border-radius: 30px;
  align-items: center;
}
.img-outrosProdutos {
  height: 200px;
  width: 200px;
  align-items: center;
  border-radius: 100px;
  margin-left: 30px;
}
.button-add {
  background-color: white;
  color: #1e90ff;
  border-style: solid;
  justify-content: center;
}
.button-content {
  display: flex;
  justify-content: center;
}

.card:hover{
  transform: scale(1.2);
}
.img-outrosProdutos:hover {
  transform: scale(1.2);
}


@media (max-width: 1191px) {
  .promo {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    margin-top: 10px;
  }
}

@media (max-width: 720px) {
  .promo {
    grid-template-columns: 1fr;
  }
  .card {
    margin-top: 10px;
  }
}
@media (max-width: 1072px) {
  .outros {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 838px) {
  .outros {
    grid-template-columns: 1fr 1fr;
  }
}
