<section class="carrousel-container">
  <div class="carrousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img
          src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpghttps://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg"
        />
      </ng-template>
      <ng-template carouselSlide
        ><img
          src="https://images.unsplash.com/photo-1593982624332-9c7a6ac54341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        />
      </ng-template>
      <ng-template carouselSlide
        ><img
          src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpghttps://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_960_720.jpg"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<section class="conteudo">
  <app-filtros></app-filtros>
  <div class="card-promo">
    <mat-card (click)="detalheProduto()" *ngFor="let produto of produtos" class="card mat-elevation-z4">
      <mat-card-content>
        <img class="img" src="{{ produto.img }}" />
        <p>{{ produto.descricao }}</p>
        <p class="p-valor">R$: {{ produto.preco }}</p>
        <div class="button-content">
          <button
            mat-flat-button
            (click)="openSnackBar('Produto Adicionado', 'X')"
            class="button-add"
            color="primary"
          >
            Adicionar ao Carrinho
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>

