input {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  margin-bottom: 20px;
}

.form__inputDuplo{
  display: flex;
  flex-direction: row;
  width: 100px;
}
.form__inputDuplo > input{
  margin-right: 10px;
}
