<h1>Cadastre-se</h1>
<div class="conteudo">
  <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
    <div class="content">
      <div>
        <label>Nome</label>
        <input type="text" formControlName="nome" />
      </div>
      <div>
        <label>E-mail</label>
        <input type="text" formControlName="email" />
      </div>
      <div>
        <label>Cpf</label>
        <input type="number" formControlName="cpf" />
      </div>
      <div formGroupName="endereco">
        <label>Cep</label>
        <input type="number" formControlName="cep" />
        <label>Rua</label>
        <input type="text" formControlName="rua" />
        <label>Número da Residência</label>
        <input type="number" formControlName="numeroResidencia" />
        <label>Complemento</label>
        <input type="text" formControlName="complemento" />
        <label>Bairro</label>
        <input type="text" formControlName="bairro" />
        <label>Cidade</label>
        <input type="text" formControlName="cidade" />
        <label>Estado</label>
        <input type="text" formControlName="estado" />
      </div>
      <!-- <div>
        <mat-form-field class="mes-field" appearance="fill">
          <mat-label>Dia</mat-label>
          <mat-select>
            <mat-option value="one" *ngFor="let mes of meses">{{
              mes
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mes-field" appearance="fill">
          <mat-label>Mês</mat-label>
          <mat-select>
            <mat-option value="one" *ngFor="let mes of meses">{{
              mes
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mes-field" appearance="fill">
          <mat-label>Ano</mat-label>
          <mat-select>
            <mat-option value="one" *ngFor="let mes of meses">{{
              mes
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <div>
        <label>Cep</label>
        <input type="text" formControlName="cep" (blur)="obterCep()" />
      </div> -->
        <!-- <div>
          <label>Cidade</label>
          <input type="text" formControlName="cidade" />
        </div>
        <div>
          <label>Nome da Rua</label>
          <input type="text" formControlName="rua" />
        </div> -->
         <!-- <div>
          <label>Estado</label>
          <input type="text" formControlName="uf" />
        </div> -->
        <div>
          <label>Senha</label>
          <input type="password" formControlName="senha" />
        </div>
        <div>
          <button
          type="submit"
          [disabled]="!formulario.valid"
          style="margin-right: 5px"
          color="primary"
          mat-flat-button
        >
          Cadastrar
        </button>
        <button (click)="resetarCampos()" color="warn" mat-flat-button>
          Cancelar
        </button>
        </div>
    </div>
  </form>
</div>

