pedidos-realizados{
  width: auto;
  margin-top: 20px;
}
.content-pedidos{
  display: flex;
}
.conten-resumoCompra{
  margin: 40px;
}
.card-pedidos{
  width: auto;
  margin: 40px;
}
.conteudo-card{
  display: flex;
  flex-direction: row;
}
.card-pedidos__imagem{
  height: 150px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
}
.detalhes-entrega{
  display: flex;
  flex-direction: column;
}
.resumo-compra{
  display: flex;
  flex-direction: column;
}
.card-pedidos__button{
  border: 1px solid #1e90ff;;
}
.detalhes-entrega > button{
  margin-bottom: 10px;
}
