<h1>Endereços</h1>
<section class="conteudo">
  <div>
    <mat-card class="card mat-elevation-z2">
      <mat-card-content>
        <h3>Principal</h3>
        <p>Avenida Av Clara Ótilia de Souza Ferraz, 500</p>
        <p>Quadra 12 - Petrolândia - PE</p>
        <p>CEP: 56460-000</p>
        <div style="margin-bottom: 30px"><mat-divider></mat-divider></div>
        <div class="button-content">
          <button mat-flat-button><mat-icon>edit</mat-icon>Alterar</button>
          <button mat-flat-button><mat-icon>delete</mat-icon>Excluir</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="card mat-elevation-z2">
      <mat-card-content>
        <h3>Secundário</h3>
        <p>Avenida Barreiras, 485</p>
        <p>Q - 08 - Petrolândia - PE</p>
        <p>CEP: 56460-000</p>
        <div style="margin-bottom: 30px"><mat-divider></mat-divider></div>
        <div class="button-content">
          <button mat-flat-button><mat-icon>edit</mat-icon>Alterar</button>
          <button mat-flat-button><mat-icon>delete</mat-icon>Excluir</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<div style="text-align: center; margin-bottom: 10%;">
  <button mat-flat-button color="primary">Adicionar Novo Endereço</button>
</div>
